<div class="explore">
  <h1>Nearby chefs matching your criteria</h1>
</div>

<div class="container">
    <div class="row">
      <% @chefs.each do |chef| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card-home-index">
            <div class="card-home-description">
              <%= link_to chef_path(chef) do %>
                <%= cl_image_tag(chef.user.photo, class: 'chef-home-image') %>
                <%= cl_image_tag(chef.user.photo, class: 'chef-home-image-avatar') %>
                <p class='chef-home-name'> <%=  chef.user.first_name.capitalize %> <%= chef.user.last_name.capitalize %></p>
                <% category = ['Italian', 'Chinese', 'Japanese', 'French', 'American', 'Thai', 'Spanish', 'Turkish', 'Mexican'] %>
                <div style='display: flex'>
                  <p class='chef-home-cuisine'><%= category.sample  %></p>
                  <% stars = ['★★★★★', '★★★☆☆', '★★☆☆☆', '★★★★☆'] %>
                  <p class='chef-home-cuisine'><%= stars.sample %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
