<br>

<div class="flex-grow-1 d-flex" style="display:flex; justify-content: center;">
    <%= form_tag chefs_path, method: :get, class: "text-center" do %>
      <%= text_field_tag :query, params[:query], class: "form-home mr-sm-2", placeholder: "Location or Cuisine" %>
      <%= submit_tag "Search", class: "btn btn-danger", style: "margin: 43px;padding: 5px 25px 5px; margin-left: 10px;" %>
    <% end %>
</div>

<div class="explore">
  <h1>Explore all chefs</h1>
</div>

<div class="container">
    <div class="row">
      <% @chefs.each do |chef| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card-home-index">
            <div class="card-home-description">
              <%= link_to chef_path(chef) do %>
                <%= cl_image_tag(chef.card_photo, class: 'chef-home-image') %>
                <%= cl_image_tag(chef.user.photo, class: 'chef-home-image-avatar') %>
                <p class='chef-home-name'><%=  chef.user.first_name.capitalize %> <%= chef.user.last_name.capitalize %></p>

                <div style='display: flex'>
                  <p class='chef-home-cuisine'>
                    <%
                      tags = chef.tag_list.map do |tag|
                        tag.capitalize
                      end
                    %>
                    <%= tags.join(", ") %>
                  </p>
                </div>
                  <p class='chef-home-cuisine'>&#165;<%= chef.price %> / hour</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
