<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(@chef.card_photo) %>');">
</div>

<% tags = @chef.tag_list.map { |tag| tag.capitalize } %>

<div class="container">
  <div class="show-container">
    <div class="profile-container">
      <h1>About me</h1>
      <p><%= @chef.content %></p>
      <h4>Location Serving: <%= @chef.location %>, within a <%= @chef.radius %> <%= @chef.units %> radius</h4>
      <h4>Cuisines: <%= tags.join(", ") %></h4>
    </div>

    <div class="card-wrapper">
      <div class="banner-content">
        <h3 class="chef-name"><%= @chef_full_name %> </h3>
        <div class="card-description">
          <div class="card-contents">
            <p><%= @chef.tagline %></p>
            <p><strong>&#165;<%= @chef.price %> / hour</strong></p>
            <label for="bookbtn" class="btn booklabel">Book</label>
          </div>

        <input type="checkbox" style="display: none;" id="bookbtn">
          <div class="popup" style="display: none;">
                <div class="col-md-6">
                  <%= simple_form_for [@chef, @booking], url: chef_bookings_path(@chef) do |f|  %>
                    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                    <p class='submit'><%= f.button :submit, "Book", class: "button" %></p>
                  <% end %>

                  </%>
              </div>
          </div>
        <script>
          $(document).ready(function() {
                      $("#bookbtn").change(function(){
                        if(this.checked){
                          $(".popup")[0].style.display = "block";
                          $(".card-contents")[0].style.display = "none";
                        } else {
                          $(".popup")[0].style.display = "none";
                        }
                      })
                    });
        </script>
        </div>
        <% if @chef.user_photo.url %>
          <%= cl_image_tag(@chef.user_photo, class: 'card-user') %>
        <% else %>
          <%= cl_image_tag(@chef.user.photo, class: 'card-user') %>
        <% end %>
      </div>
    </div>
  </div>


</div>
