<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1511344407683-b1172dce025f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');">
</div>


<div class="container">
  <div class="show-container">
    <div class="profile-container">
      <h1>About me</h1>
      <p>I am the chef and owner of Masa, a three-Michelin-starred Japanese and sushi restaurant in San Francisco.</p>
      <h4>Locations Serving : <%#= @chef. %>  Shinjuku, Shibuya, Meguro</h4>
      <h4>Cuisines: Japanese, Chinese, Italian, French</h4>
    </div>

    <div class="card-wrapper">
      <div class="banner-content">
        <h3 class="chef-name"><%= @chef_full_name %> </h3>
        <div class="card-description">
          <div class="card-contents">
        <p class="stars">★★★★★</p>
        <p>Read reviews</p>
        <p>¥1000~</p>

        <label for="bookbtn" class="btn booklabel">Book</label>
          </div>
        <input type="checkbox" style="display: none;" id="bookbtn">
          <div class="popup" style="display: none;">
                <div class="col-md-6">
                  <%= simple_form_for [@chef, @booking], url: chef_bookings_path(@chef) do |f|  %>
                    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                    <%= f.button :submit, "Book", class: "button" %>
                  <% end %>
              </div>
          </div>
        <script>
          $(document).ready(function() {
                      $("#bookbtn").change(function(){
                        if(this.checked){
                          $(".popup")[0].style.display = "block";
                          $(".card-contents")[0].style.display = "none";
                        } else {
                          $(".popup")[0].style.display = "none";
                        }
                      })
                    });
        </script>
        </div>
        <% if !@chef.user_photo.nil? %>
        <%= cl_image_tag(@chef.user_photo, class: 'card-user') %>
        <% else %>
        <%= cl_image_tag(@chef.user.photo, class: 'card-user') %>
        <% end %>
      </div>
    </div>
  </div>


</div>
