<!-- <div class="my-profile">
  <h1>My Profile</h1>
</div> -->

<!-- <div class="bookings">
  <h1>Booked Chefs</h1>
</div> -->

<br>
<br>
<br>

<div class="container kitchen-foodie">
  <div class="kitchen-foodie-profile">
    <div class="my-profile">
    <h1>My Profile</h1>
    </div>
    <div class="kitchen-foodie-user"><%= cl_image_tag(current_user.photo, width: 200, class: 'kitchen-foodie-user-image') %></div>
    <p class="chef-home-cuisine"><span>Name:</span> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
    <p class="chef-home-cuisine"><span>Email:</span> <%= current_user.email %></p>
    <p class="chef-home-cuisine"><span>Address:</span> <%= current_user.address %></p>
    <p><%= link_to "Edit profile", kitchen_edit_foodie_path, class: 'btn btn-primary edit' %></p>
  </div>


  <div class="kitchen-foodie-bookings">
    <div class="bookings">
      <h1>Booked Chefs</h1>
    </div>
    <% @bookings.each do |booking| %>
      <div class="booked-card">
          <div class="booked-chef">
            <%= cl_image_tag(booking.chef.user.photo, class: 'my_chef_image') %>
          </div>
          <div class="booked-card-category">Schedule<%= booking.state %></div>
          <div class="booked-card-date"><%= booking.date %></div>
          <div class="booked-card-description">
          <p><%= booking.chef.user.first_name %> <%= booking.chef.user.last_name %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
