<div class="head-comment">
  <h1 style="color: #233142">My Chefs</h1>
</div>


<div class="container">

  <div class="row">

    <!-- <div class="card-wapper"> -->
      <% @bookings.each do |booking| %>

      <div class="col-xs-12 col-sm-4">

        <!-- <div class="card-index">


          <div class="booking-date"><%= booking.date %></div>


          <div class="name">
            Name -
          </div>

          <div class="chef-name" style="text-transform: capitalize;">
            <p><%= booking.chef.first_name %></p>
            <p>   <%= booking.chef.last_name %></p>
          </div>

          <div class="status">
          Status -
          </div>
          <div class="book-state"><%= booking.state %></div>

          <div>
            <%= cl_image_tag(booking.chef.photo, class: 'my_chef_image') %>
          </div> -->

          <div class="booked-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="booked-card-category">Popular</div>
            <div class="booked-card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
            </div>
            <img class="booked-card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="booked-card-link" href="#" ></a>
          </div>


        </div>
      </div>
       <% end %>
    </div>
  <!-- </div> -->
</div>


