<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)), url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551327194/c42b3491.jpg);>
  <div class="container">
      <h1 style="text-align: center;color: white;text-shadow: 0.5px 0.5px 0.5px #000000;padding: 15px 0px 25px;">Homemade food, homemade experiences</h1>
        <p style="text-align: center;color: white;text-shadow: 0.5px 0.5px 0.5px #000000;">Request a chef and experience the best a fresh homemade dish has to offer</p>
        <div class="flex-grow-1 d-flex" style="display:flex; justify-content: center;">
            <%= form_tag chefs_path, method: :get, class: "text-center" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-home mr-sm-2",
            placeholder: "Location" %>
            <% end %>
            <a type="button" class="btn btn-danger" style="margin: 43px;padding: 5px 25px 5px; margin-left: 10px;" href="https://home-chef.herokuapp.com/chefs">Search</a>
        </div>
          <!-- <div class="col text-center">
            <a type="button" class="btn btn-danger" style="padding: 8px 40px 8px;" href="https://home-chef.herokuapp.com/chefs">Search</a>
    </div> -->
  </div>
</div>

<div class="explore">
<h1>Explore Chefs</h1>

<div class="container">
  <div class="row">
    <% @chefs.each do |chef| %>
      <div class="col-xs-12 col-sm-3">
       <div class="card-home">
        <div class="card-home-description">
          <%= link_to chef_path(chef) do %>
         <%= cl_image_tag(chef.user.photo, class: 'chef-home-image') %>
         <p class='chef-home-name'> <%=  chef.user.first_name.capitalize %> <%= chef.user.last_name.capitalize %></p>
         <p class='chef-home-cuisine'>Japanese</p>
         <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



</div>
