<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <div class="navbar-logo">
      <!-- Logo -->

      <div class="logo-h1">
        <%= link_to root_path do %>
          <%= image_tag "https://res.cloudinary.com/harrisongarovi/image/upload/v1551157460/chef-hat-md.png", alt: "logo", height: 55, width: 45  %>
        <% end %>
        <h1>Home Chef</h1>
      </div>

      <!-- Right Navigation -->
      <div class="navbar-right hidden-xs hidden-sm">
        <%= link_to "Log in", new_user_session_path, class: "navbar-item navbar-link" %>
        <%= link_to "Sign up", new_user_registration_path, class: "navbar-item navbar-link" %>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
